In [21]:
import pandas as pd
import streamlit as st
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import mlem

df = pd.read_csv('formart_house.csv')
df = df.drop([506])
df = df.rename(columns={'medv': 'Price'})
df.ndim

df= df.apply(pd.to_numeric)
df.info()
# fig = plt.figure(figsize=(10, 8))
# sns.pairplot(df,hue='Price')
# st.pyplot(fig)
df.groupby('Price').mean()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   crim     506 non-null    float64
 1   zn       506 non-null    float64
 2   indus    506 non-null    float64
 3   chas     506 non-null    int64
 4   nox      506 non-null    float64
 5   rm       506 non-null    float64
 6   age      506 non-null    float64
 7   dis      506 non-null    float64
 8   rad      506 non-null    int64
 9   tax      506 non-null    int64
 10  ptratio  506 non-null    float64
 11  b        506 non-null    float64
 12  lstat    506 non-null    float64
 13  Price    506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat
Price,,,,,,,,,,,,,
5.0,53.136300,0.0000,18.100000,0.000,0.693000,5.5680,100.000000,1.457500,24.000,666.0000,20.20000,390.935000,26.785000
5.6,25.046100,0.0000,18.100000,0.000,0.693000,5.9870,100.000000,1.588800,24.000,666.0000,20.20000,396.900000,26.770000
6.3,9.916550,0.0000,18.100000,0.000,0.693000,5.8520,77.800000,1.500400,24.000,666.0000,20.20000,338.160000,29.970000
7.0,22.964735,0.0000,22.920000,0.000,0.651000,4.9665,99.150000,1.706800,14.000,688.5000,20.15000,216.160000,30.475000
7.2,16.377533,0.0000,18.100000,0.000,0.690667,6.0180,99.366667,1.611633,24.000,666.0000,20.20000,273.683333,26.726667
...,...,...,...,...,...,...,...,...,...,...,...,...,...
46.7,0.298190,0.0000,6.200000,0.000,0.504000,7.6860,17.000000,3.375100,8.000,307.0000,17.40000,377.510000,3.920000
48.3,0.331470,0.0000,6.200000,0.000,0.507000,8.2470,70.400000,3.651900,8.000,307.0000,17.40000,378.950000,3.950000
48.5,0.035100,95.0000,2.680000,0.000,0.416100,7.8530,33.200000,5.118000,4.000,224.0000,14.70000,392.780000,3.810000
48.8,0.520140,20.0000,3.970000,0.000,0.647000,8.3980,91.500000,2.288500,5.000,264.0000,13.00000,386.860000,5.910000
50.0,2.703412,19.0625,11.860625,0.375,0.566569,7.4840,77.637500,2.586088,10.625,415.4375,16.48125,381.743125,4.355000